body {
  background-image: url("../images/indoorcar.jpg");
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;
  background-size: cover;     
}

h1{
  font-family: 'Permanent Marker', cursive;
  font size: 60px;
  color:brown;
  background-color: antiquewhite;
}

#header {
  background-color: antiquewhite;
}

h4, h5, h6 {
  margin-top: 10px;
  padding: 10px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: firebrick;
}

.mb-1 {
  margin-bottom: .25rem !important;
}

.pb-2 {
  padding-bottom: .5rem !important;
}

.row {
  margin-bottom: 3rem;
}

.wide {
  min-width: 90%;
}

.sign-out-button {
  position: fixed;
  bottom: 4px;
  left: 25%;
  right: 25%; 
}

#add-new-car, #garage, #maint-data, #update-data, #to-do-list {
  border-style: solid; 
  background-color: antiquewhite;
}

#maint-data {
  padding: 60px;
}

#maint-header {
  margin-top: 0px;
}

#wrench {
  left: 50%
}

.overdue{
  color: red;
}

body{
  background-image: url("../images/tires.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}
 .container{
   background:white;
 }

 .btn,
 .btn-large {
   background: rgb(33, 2, 82);
 }