/* Ben's CSS */

body {
    background-image: url("../images/metalflooring4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
        
}
h1{
    font-family: 'Permanent Marker', cursive;
    font size: 60px;
}
img {
    
}

h4 {
    font-family: 'Limelight', cursive;
}
.mb-1 {
  margin-bottom: .25rem !important;
}

.pb-2 {
  padding-bottom: .5rem !important;
}

.row {
  margin-bottom: 3rem;
}
.wide {
  min-width: 90%;
}

.sign-out-button {
  position: fixed;
  bottom: 4px;
  left: 25%;
  right: 25%;
}
#add-new-car, #garage, #maint-data, #update-data {
    background-color: antiquewhite;
    border-style:solid; 
}

#maint-data {
    padding: 37px;
    
}
